<app-acre [stateId]="stateId" *ngIf="stateId === 12"></app-acre>
<app-alagoas *ngIf="stateId === 27"></app-alagoas>
<app-amapa *ngIf="stateId === 16"></app-amapa>
<app-amazonas *ngIf="stateId === 13"></app-amazonas>
<app-bahia *ngIf="stateId === 29"></app-bahia>
<app-ceara *ngIf="stateId === 23"></app-ceara>
<app-espirito-santo *ngIf="stateId === 32"></app-espirito-santo>
<app-goias *ngIf="stateId === 52"></app-goias>
<app-maranhao *ngIf="stateId === 21"></app-maranhao>
<app-mato-grosso *ngIf="stateId === 51"></app-mato-grosso>
<app-mato-grosso-do-sul *ngIf="stateId === 50"></app-mato-grosso-do-sul>
<app-minas-gerais *ngIf="stateId === 31"></app-minas-gerais>
<app-para *ngIf="stateId === 15"></app-para>
<app-paraiba *ngIf="stateId === 25"></app-paraiba>
<app-parana *ngIf="stateId === 41"></app-parana>
<app-pernambuco *ngIf="stateId === 26"></app-pernambuco>
<app-piaui *ngIf="stateId === 22"></app-piaui>
<app-rio-de-janeiro *ngIf="stateId === 33"></app-rio-de-janeiro>
<app-rio-grande-do-norte *ngIf="stateId === 24"></app-rio-grande-do-norte>
<app-rio-grande-do-sul *ngIf="stateId === 43"></app-rio-grande-do-sul>
<app-rondonia *ngIf="stateId === 11"></app-rondonia>
<app-roraima *ngIf="stateId === 14"></app-roraima>
<app-santa-catarina *ngIf="stateId === 42"></app-santa-catarina>
<app-sao-paulo *ngIf="stateId === 35"></app-sao-paulo>
<app-sergipe *ngIf="stateId === 28"></app-sergipe>
<app-tocantins *ngIf="stateId === 17"></app-tocantins>
