<h2>Visualização por Municípios</h2>
<div class="locals-links">
    <a routerLink="">Região&nbsp;</a>
    <a routerLink="/states">> Estado&nbsp;</a>
    <a>> <b>{{ stateName }}</b></a>
</div>
<div class="wrapper" [ngStyle]="{ display: loading ? 'none' : 'flex' }">
    <div class="county-map">
        <app-acre (clickedLocal)="getLocal($event)" *ngIf="stateId === 12"></app-acre>
        <app-alagoas (clickedLocal)="getLocal($event)" *ngIf="stateId === 27"></app-alagoas>
        <app-amapa (clickedLocal)="getLocal($event)" *ngIf="stateId === 16"></app-amapa>
        <app-amazonas (clickedLocal)="getLocal($event)" *ngIf="stateId === 13"></app-amazonas>
        <app-bahia (clickedLocal)="getLocal($event)" *ngIf="stateId === 29"></app-bahia>
        <app-ceara (clickedLocal)="getLocal($event)" *ngIf="stateId === 23"></app-ceara>
        <app-espirito-santo (clickedLocal)="getLocal($event)" *ngIf="stateId === 32"></app-espirito-santo>
        <app-goias (clickedLocal)="getLocal($event)" *ngIf="stateId === 52"></app-goias>
        <app-maranhao (clickedLocal)="getLocal($event)" *ngIf="stateId === 21"></app-maranhao>
        <app-mato-grosso (clickedLocal)="getLocal($event)" *ngIf="stateId === 51"></app-mato-grosso>
        <app-mato-grosso-do-sul (clickedLocal)="getLocal($event)" *ngIf="stateId === 50"></app-mato-grosso-do-sul>
        <app-minas-gerais (clickedLocal)="getLocal($event)" *ngIf="stateId === 31"></app-minas-gerais>
        <app-para (clickedLocal)="getLocal($event)" *ngIf="stateId === 15"></app-para>
        <app-paraiba (clickedLocal)="getLocal($event)" *ngIf="stateId === 25"></app-paraiba>
        <app-parana (clickedLocal)="getLocal($event)" *ngIf="stateId === 41"></app-parana>
        <app-pernambuco (clickedLocal)="getLocal($event)" *ngIf="stateId === 26"></app-pernambuco>
        <app-piaui (clickedLocal)="getLocal($event)" *ngIf="stateId === 22"></app-piaui>
        <app-rio-de-janeiro (clickedLocal)="getLocal($event)" *ngIf="stateId === 33"></app-rio-de-janeiro>
        <app-rio-grande-do-norte (clickedLocal)="getLocal($event)" *ngIf="stateId === 24"></app-rio-grande-do-norte>
        <app-rio-grande-do-sul (clickedLocal)="getLocal($event)" *ngIf="stateId === 43"></app-rio-grande-do-sul>
        <app-rondonia (clickedLocal)="getLocal($event)" *ngIf="stateId === 11"></app-rondonia>
        <app-roraima (clickedLocal)="getLocal($event)" *ngIf="stateId === 14"></app-roraima>
        <app-santa-catarina (clickedLocal)="getLocal($event)" *ngIf="stateId === 42"></app-santa-catarina>
        <app-sao-paulo (clickedLocal)="getLocal($event)" *ngIf="stateId === 35"></app-sao-paulo>
        <app-sergipe (clickedLocal)="getLocal($event)" *ngIf="stateId === 28"></app-sergipe>
        <app-tocantins (clickedLocal)="getLocal($event)" *ngIf="stateId === 17"></app-tocantins>
    </div>
    <div class="accordion scrollbar-custom">
        <app-locals-list *ngIf="counties.length > 0"
            [items]="counties"
            (onAccordionClick)="onAccordionClick($event)"
            (onClickOpenNewsModal)="openNewsModal($event)"
        ></app-locals-list>
    </div>
</div>
<div class="loader" *ngIf="loading">
    <app-loader></app-loader>
</div>

<app-news-modal 
    *ngIf="isNewsModalOpen"
    [isOpen]="isNewsModalOpen"
    [variantLocal]="variantCountyId"
    [variantStateId]="stateId"
    (close)="closeNewsModal()"
></app-news-modal>
