h2 {
    margin: 1em 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.regions-map {
    text-align: left;
}

path:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.accordion {
    width: 100%;
}