<div *ngIf="isOpen" class="modal">
    <div class="modal-body">
        <div class="modal-header">
            <span class="modal-title">Notícias sobre variantes - {{ localName }}</span>
            <svg class="x-icon" (click)="closeNewsModal()" width="20" height="20" viewBox="0 0 80 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="75.5355" y1="3.53553" x2="4.82486" y2="74.2462" stroke="black" stroke-width="10"/>
                <line y1="-5" x2="100" y2="-5" transform="matrix(0.707107 0.707107 0.707107 -0.707107 8 0)" stroke="black" stroke-width="10"/>
            </svg>
                
        </div>
        <p-carousel *ngIf="!loading" [value]="news" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true">
            <ng-template let-news pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                        </div>
                        <div>
                            <img [src]="img" width="100%">
                            <a class="link-title" [href]="news.link" target="_blank">{{news.title}}</a>
                            <br>
                            <span class="link-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac maximus diam, sit amet interdum ipsum. Aliquam vehicula varius justo nec auctor. Nulla a massa sed nisl tempor bibendum sit amet non nulla. Nullam non dignissim augue. Donec faucibus neque ligula, id condimentum tellus ullamcorper in. Donec tincidunt, nulla vel tempor facilisis, nunc justo volutpat justo, eu porttitor ex nibh et lorem. Sed rutrum lectus eu gravida vestibulum. Etiam rutrum elit euismod feugiat ullamcorper.</span>
                            <span class="link-url">{{ news.link }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <div class="loader" *ngIf="loading">
            <app-loader></app-loader>
        </div>
    </div>
</div>
<div *ngIf="isOpen" class="modal-background"></div>
